<div class="vcard">
	<div class="org">AFI SA</div>
	<div class="adr">
		<div class="street-address">35, rue de la Maison Rouge</div>
                <span class="postal-code">77185</span>
		<span class="locality">Lognes</span>
		<div class="country-name">France</div>
	</div>
	<div class="tel">+33 (0)1 60 17 12 34</div>
</div>
